@import "tailwindcss";

@layer base {
  html,
  body {
    @apply bg-black text-white;
    font-family: var(--font-family-lilex);
  }
}

@theme {
  --font-family-lilex: "Lilex Nerd Font", monospace;
  --color-light-green: #90b493;
  --color-light-grey: #a0a0a0;
}

@font-face {
  font-family: "Lilex Nerd Font";
  src: url("/fonts/LilexNerdFontMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lilex Nerd Font";
  src: url("/fonts/LilexNerdFontMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .app-container {
    /* stylelint-disable-next-line */
    @apply mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 my-10;
  }

  .content-container {
    /* stylelint-disable-next-line */
    @apply mx-auto max-w-4xl;
  }
  .nav-bar {
    @apply mb-4 space-x-2;
  }
  .nav-bar-item {
    @apply text-white;
  }
  .nav-bar-item:hover {
    @apply text-light-green;
  }

  .profile-item {
    @apply py-2;
  }

  .section-heading {
    @apply text-2xl font-bold;
  }

  .work-heading {
    @apply text-xl font-semibold mt-8;
  }
  .work-details {
    @apply my-2;
  }
  .project-heading {
    @apply text-xl font-semibold mt-8;
  }
  .project-details {
    @apply my-2;
  }

  .blog-heading {
    @apply text-xl font-semibold mt-8;
  }
  .blog-details {
    @apply my-2;
  }

  .accent-link {
    @apply text-light-green;
  }
  .accent-link-hover:hover {
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }
  .projects-blob {
    @apply my-8;
  }
  .hover-link:hover {
    @apply text-light-green;
    text-decoration-line: underline;
    text-underline-offset: 4px;
  }
  .hover-group:hover .hover-group-text {
    @apply text-light-green;
  }
  .hover-group:hover {
    @apply border-light-green;
  }

  .word-decoration {
    @apply p-1 border border-light-grey rounded-sm text-white bg-black;
  }
  .blog-header {
    @apply text-3xl font-bold;
  }
  .blog-date {
    @apply text-light-grey my-3;
  }
  .blog-content {
    @apply leading-8 text-lg my-4;
  }
  .blog-section-heading {
    @apply text-lg font-bold text-light-green;
  }
  .blog-subheading {
    @apply text-light-green;
  }
}

@keyframes arrow-float {
  0%,
  100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(4px, -4px);
  }
}

.group:hover .animate-arrow-float {
  animation: arrow-float 1.5s ease-in-out infinite;
}
